{% extends "layout.html" %}

    {% block title %}
        {{ title }}
    {% endblock %}

    {% block content %}
        <div class="about">
            <div class="container2 mt-5" style="justify-content: center;">
                <div class="inner_cont p-5 text-white">
                    <h1 class="fw-bold fs-1">About QuizMaster</h1>
                    <p class="fs-5 mt-3 fs-4" style="max-width: 800px; margin: auto;">
                        QuizMaster is a web application that allows users to test their knowledge with quizzes. 
                        Users can create quizzes, take quizzes, and view their quiz results. 
                        QuizMaster is built using <strong>Python, Flask, and SQLite</strong>.
                    </p>
                </div>
            </div>
        </div>
    {% endblock %}