{% extends "layout.html" %}
    {% block title %}
        {{ title }}
    {% endblock %}
    {% block content %}
        <div class="home text-center">
            <div class="inner_cont" style="width:100%;">
                <h1 class="fs-1 p-2">Welcome to QuizMaster!</h1>
                <p class="fs-3">Test your knowledge with our quizzes</p>
                <a href="{{ url_for('quiz.quizques') }}" class="btn fs-2" >
                    <button type="button" class="btn btn-primary btn-lg fs-3">
                        Start Quiz
                    </button>
                </a>
            </div>
        </div>
    {% endblock content%}
