{% extends "layout.html" %}

    {% block title %}
        Update Profile
    {% endblock %}

    {% block content %}
    <div class="content-section inner_cont1" style="width: 52% !important;">
        <form method="POST" action="" novalidate enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 pb-2 fs-2">
                    Update Profile
                </legend>
                <div class="form-group m-3">
                    {{ form.username.label(class="form-control-label fs-5")}}
                    {% if form.username.errors %}
                        {{ form.username(class= "form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class= "form-control form-control-lg")}}
                    {% endif %}
                </div>
                <div class="form-group m-3">
                    {{ form.email.label(class="form-control-label fs-5")}}
                    {% if form.email.errors %}
                        {{ form.email(class= "form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class= "form-control form-control-lg")}}
                    {% endif %}
                </div>
                <div class="form-group pt-2" style="font-size: large;">
                {{ form.profile_pic.label(class="form-control-label fs-5")}}
                {{ form.profile_pic(class="form-control-file form-control-lg")}} 
                    {% if form.profile_pic.errors %}
                        {% for error in form.profile_pic.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group m-2  pt-4 pb-3 ">
                {{ form.submit(class="btn btn-info btn-lg") }}
            </div>
        </form>
    </div>
    {% endblock  content %}